<div id="page-wrapper" class="col-lg-10 col-lg-offset-2">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <i class="fa fa-fw fa-user-md"></i> Medical representative MASTER
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="#dashboard">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-user-md"></i> Medical representative MASTER
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <h2 class="panel-title">Add a New Medical representative</h2>
                    </div>

                </div>
                <form role="form">

                    <div class="form-group">
                        <label>Rep Name<span style="color: red">*</span></label>
                        <input type="text" class="form-control" placeholder="Enter text" ng-model="rep.name">
                    </div>

                    <div class="form-group">
                        <label>Rep Email</label>
                        <input type="email" class="form-control" placeholder="Enter text" ng-model="rep.email">
                    </div>
                    <div class="form-group">
                        <label>Rep Address</label>
                        <textarea class="form-control" rows="2" ng-model="rep.address"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Rep Phone No<span style="color: red">*</span></label>
                        <input type="text" class="form-control" placeholder="Enter text" ng-model="rep.tel">
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" rows="2" ng-model="rep.remark"></textarea>
                    </div>

                    <br>

                    <button type="submit" ng-show="!editMode" class="btn btn-success" ng-click="addRep()">
                        {{'GENERAL.ACTION.SAVE' | translate}}
                    </button>
                    <button type="submit" ng-show="editMode" class="btn btn-success" ng-click="updateRep()">
                        {{'GENERAL.ACTION.UPDATE' | translate}}
                    </button>
                    <button type="reset" class="btn btn-warning" ng-click="resetRep()">
                        {{'GENERAL.ACTION.RESET' | translate}}
                    </button>

                </form>

            </div>

        </div>
        <!-- /.row -->

        <div class="row">
            <br> <br> <br>
            <div class="col-lg-12">
                <h2>Listing of all Reps</h2>
                <br>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group input-group">
                            Rep Name
                            <input type="text" class="form-control" placeholder="Rep Name" ng-model="repName">
                            <div>&nbsp;</div>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="searchRep()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </div>

                </div>
                <br> <br>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone No.</th>
                            <th>Address</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="rep in repList">
                            <td>{{$index+1}}</td>
                            <td>{{rep.name}}</td>
                            <td>{{rep.email}}</td>
                            <td>{{rep.tel}}</td>
                            <td>{{rep.address}}</td>
                            <td>{{rep.remark}}</td>

                            <td>
                                <button type="submit" class="btn btn-primary btn-sm" ng-click="editRep(rep)">
                                    {{'GENERAL.ACTION.EDIT' | translate}}
                                </button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-danger btn-sm" ng-click="deleteRep(rep.id)">
                                    {{'GENERAL.ACTION.DELETE' | translate}}
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <uib-pagination ng-change="pageChanged()" total-items="totalItems" items-per-page="itemsPerPage"
                                    ng-model="currentPage" max-size="maxSize" class="pagination-sm"
                                    boundary-link-numbers="true"></uib-pagination>
                </div>
            </div>
        </div>


    </div>
    <!-- /.container-fluid -->

</div>