<div id="page-wrapper" class="col-lg-10 col-lg-offset-2">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Return Note
                    <!--<small>GRN</small>-->
                </h1>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2 text-left">
                                <div class="form-group">
                                    <ui-select ng-model="invoiceNo" theme="select2"
                                               ng-change="changeCurrentInvoice($select.selected)"
                                               ng-disabled="disabled" style="width: 100%;" title="Enter Invoice No">
                                        <ui-select-match placeholder="Enter Invoice No">
                                            {{$select.selected.invoiceNo | pad:6}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="item in invoiceList | filter: $select.search">
                                            <div ng-bind-html="item.invoiceNo | pad:6 | highlight: $select.search"></div>
                                            <small>
                                                Invoice No: {{item.invoiceNo | pad:6}}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-lg-2 text-left">
                                <div class="form-group">
                                    <input readonly="" class="form-control" placeholder="Client"
                                           value="{{currentInvoice.clientName}}">
                                </div>
                            </div>
                            <div class="col-lg-2 text-left">
                                <div class="form-group">
                                    <input readonly="" class="form-control" placeholder="PO No"
                                           value="{{currentInvoice.poCode}}">
                                </div>
                            </div>

                            <div class="col-lg-2 text-left">
                                <div class="form-group">
                                    <input readonly="" class="form-control" placeholder="Payment method"
                                           value="{{currentInvoice.paymentMethod}}">
                                </div>
                            </div>
                            <div class="col-lg-2 text-left">
                                <div class="form-group">
                                    <input readonly="" class="form-control" placeholder="Amount"
                                           value="{{currentInvoice.total | number:2}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <form role="form">
            <div class="row">

                <div class="col-lg-3 text-left">
                    <div class="form-group">
                        <!--<label >Item Code</label>-->
                        Item Code
                        <ui-select ng-model="returnItem" theme="select2"
                                   ng-change="changeCurrentItem($select.selected)"
                                   ng-disabled="disabled" style="width: 100%;" title="Choose a Item">
                            <ui-select-match placeholder="Select a Item">
                                {{$select.selected.code}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="item in itemsList | propsFilter: {code: $select.search, name: $select.search}">
                                <div ng-bind-html="item.code | highlight: $select.search"></div>
                                <small>
                                    name: {{item.name}}
                                    code: <span ng-bind-html="''+item.code | highlight: $select.search"></span>
                                    price: {{item.price}}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-lg-1 text-left">
                    <div class="form-group">
                        QTY<input style="font-size: medium" required class="form-control" placeholder=" QTY"
                                  ng-model="returnItem.qty">
                    </div>
                </div>
                <div class="col-lg-2 text-left">Unit Price
                    <div class="form-group input-group">
                        <span class="input-group-addon">Rs.</span>
                        <input style="font-size: medium" required="" class="form-control" placeholder="53"
                               value="{{returnItem.unitPrice}}">
                        <span class="input-group-addon">.00</span>
                    </div>
                </div>
                <div class="col-lg-2 text-left">
                    <div class="form-group">
                        DOE<input readonly="" type="date" class="form-control"
                                  value="{{returnItem.doe | date:'yyyy-MM-dd'}}">
                    </div>
                </div>
                <div class="col-lg-2 text-left">
                    <div class="form-group">
                        Lot No<input readonly="" class="form-control" value="{{returnItem.lotNo}}">
                    </div>
                </div>
                <div class="col-lg-2 text-left">
                    <div class="form-group ">
                        Amount
                        <input readonly="" type="text" class="form-control"
                               value="{{returnItem.qty * returnItem.unitPrice}}">
                    </div>
                </div>
            </div>

            <!--/.row-->
            <!--code-->

        </form>

        <!--tabel start-->

        <div class="row">
            <div class="col-lg-12">

                <hr>
                <div class="row">
                    <div class="col-lg-2 text-left">
                        <div class="form-group ">
                            Cause Of Return
                            <select class="form-control" ng-model="causeOfReturn">
                                <option value="0">Please Select</option>
                                <option value="1">Damaged</option>
                                <option value="2">Expired</option>
                                <option value="3">Wrong Item</option>
                                <option value="4">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 text-left">
                        <div class="form-group ">
                            Date
                            <input readonly="" type="date" class="form-control"
                                   value="{{returnDate | date:'yyyy-MM-dd'}}">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <button type="submit" class="btn btn-success" ng-click="addItem()">
                        {{'GENERAL.ACTION.ADDITEM' | translate}}
                    </button>
                    <button type="reset" class="btn btn-warning" ng-click="resetItem()">
                        {{'GENERAL.ACTION.RESET' | translate}}
                    </button>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Item Code</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Lot No</th>
                            <th style="font-size: large">Qty</th>
                            <th>Price</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in returnItemsList">
                            <td>{{$index+1}}</td>
                            <td>{{item.itemCode}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.desc}}</td>
                            <td>{{item.lotNo}}</td>
                            <td>{{item.qty}}</td>
                            <td>{{item.unitPrice | number:2}}</td>
                            <td>{{item.qty*item.unitPrice | number:2}}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>{{totalQty | number:2}}</td>
                            <td>&nbsp;</td>
                            <td>{{totalPrice | number:2}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="btn btn-success" ng-click="returnInvoice()">
                    {{'GENERAL.ACTION.SAVE' | translate}}
                </button>
                <button type="reset" class="btn btn-default" ng-click="resetForm()">
                    {{'GENERAL.ACTION.CANCEL' | translate}}
                </button>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

